.align-center {
  text-align: center;
}
.margin-top-lg {
  margin-top: 25px;
}
.margin-top-md {
  margin-top: 15px;
}
.spacer-y {
  margin-top: 10px;
  margin-bottom: 10px;
}
.spacer-y-lg {
  margin-top: 25px;
  margin-bottom: 25px;
}
.padding-x {
  padding-left: 10px;
  padding-right: 10px;
}
.slabtexted .slabtext {
  display: -moz-inline-box;
  display: inline-block;
  white-space: nowrap;
}
.slabtextinactive .slabtext {
  display: inline;
  white-space: normal;
  font-size: 1em !important;
  letter-spacing: inherit !important;
  word-spacing: inherit !important;
  *letter-spacing: 0 !important;
  *word-spacing: 0 !important;
}
.slabtextdone .slabtext {
  display: block;
}
html,
body {
  height: 100%;
}
body {
  background-color: #E91100;
  background-repeat: repeat;
  color: #FFF;
  font-family: Georgia, serif;
  text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: Georgia, serif;
}
.bottle {
  position: fixed;
  top: 10%;
  left: 78%;
  max-height: 80%;
  max-width: 20%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  .bottle {
    top: 25%;
  }
}
#snowglobe {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}
#snowglobe .flake {
  position: absolute;
  width: 1px;
  height: 1px;
  color: rgba(0, 0, 0, 0);
  text-shadow: 0 0 3px #ffffff;
}
